@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');
.card1{
    padding:10px;
    color:white;
    transition:transform 0.5s;
 
}
.card1:hover{
    transform:scale(1.0);
    transform:scale(1.0);
    transform:scale(1.1);
}
.card-content{
    padding:10px;
    background-color:rgba(0, 0, 0, 0.29);
    color:white;
}
body{
    background-image:url("https://wallpapercave.com/wp/wp7428820.jpg");
    background-size:cover;
    height:205vh;
    background-repeat:repeat;
    padding:20px;
    text-align:center;
}
.head{
    font-family:"Lobster";
    color:rgb(0, 225, 255);
    text-align:center;
    font-size:50px;
    text-shadow: 0 0 5px #fff,
				0 0 10px #fff,
				0 0 20px rgb(179, 247, 236),
				0 0 30px rgb(179, 247, 236),
				0 0 40px rgb(179, 247, 236),
				0 0 55px rgb(179, 247, 236),
				0 0 70px rgb(179, 247, 236);

}
.hh{
    font-family:"Bree Serif";
    text-align:center;
    color:rgb(252, 74, 74);
    padding-bottom:20px;
    font-weight:bold;
    text-shadow: 0 0 5px #fff,
				0 0 10px #fff,
				0 0 20px rgb(29, 240, 208),
				0 0 30px rgb(29, 240, 208),
				0 0 40px rgb(29, 240, 208),
				0 0 55px rgb(29, 240, 208),
				0 0 70px rgb(29, 240, 208);
}
.air{
    font-size:20px;
    color:mediumspringgreen;
    font-weight:bold;
}
.bye{
    color:rgb(244, 140, 230);
    font-family:"Bree Serif";
    text-align:center;
    font-weight:bold;
   padding-bottom:20px;
   padding-top:10px;
   text-shadow: 0 0 5px #fff,
				0 0 10px #fff,
				0 0 20px rgb(252, 74, 74),
				0 0 30px rgb(252, 74, 74),
				0 0 40px rgb(252, 74, 74),
				0 0 55px rgb(252, 74, 74),
				0 0 70px rgb(252, 74, 74);
    
}
